table{
    width: 100%;
    text-align: center;
    align-items: center;
    border: 1px solid gray;
}
#tablotr{
    background-color: #ae132a;
    color: white;
    font-weight: 300;
    border: 1px solid gray;
 
}
td{
    border: 1px solid gray;
}

input[type='radio']:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid gray;
    
}

input[type='radio']:checked:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -1px;
    right: -1px;
    position: relative;
    background-color: #ae132a;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    
}